%h1 My Organisations
.organisations
  %table
    -@organisations.each do |organisation|
      %tr
        %td
          = link_to organisation.name, user_organisation_path(current_user, organisation)
        %td
          =link_to "Delete Organisation", user_organisation_path(current_user, organisation), method: :delete, data: { confirm: "R you sure ?" } , class: "btn btn-danger"
