%h1 My Organisations
.organisations
  %table
    -@organisations.each do |organisation|
      %tr
        %td
          = link_to organisation.name, user_organisation_path(current_user, organisation)
        %td
          %a.btn.btn-primary.btn-sm{:href => user_organisation_path(current_user, organisation), method: :delete, data: { confirm: "R you sure ?" } }Delete Organisation
