-if flash[:alert]
  .alert
    =flash[:alert]
%h1 New Organisation

.row
  .col-md-6
    =form_for [current_user, @organisation] do |f|
      =f.label :name
      =f.text_field :name

      =f.submit "Create Organisation"

