-if flash[:alert]
  .alert
    =flash[:alert]
%h1 New Organisation

.row
  .col-md-3.create
    =form_for [current_user, @organisation] do |f|
      %div.form-group
        =f.label :name
        =f.text_field :name
      =f.submit "Create Organisation" ,class: "btn btn-primary"

