-if flash[:notice]
  =flash[:notice]
.container
  %b.head
    =@organisation.name
  %a.btn.btn-primary.pull-right{:href => new_user_organisation_event_path(current_user, @organisation) } Create Event
%ol.container
  -@organisation.events.each do |event|
    %li
      =link_to event.name,user_organisation_event_path(current_user,@organisation,event.id)

