-if user_signed_in?
  .row
    %strong= current_user.firstname
    %strong= current_user.lastname

  =link_to "Create Organisation", new_user_organisation_path(current_user)
  %h3 All events
  .row
    -@allevents.each do |event|
      %p
        =event.name
        at
        =event.location
        on
        =event.date
        created by
        =event.organisation.name
        -if event.organisation.user.id != current_user.id
          =link_to "Participate", participations_path(event_id: event.id), method: :post 
  %h2 Upcoming Events
  .row
    -@participating.each do |p|
      %p
        =p.name
        at
        =p.location
        on
        =p.date
        created by
        =p.organisation.name

-else
  %h3 All events
  %p Coming soon
