-if user_signed_in?
  .container-fluid
    %strong.lead= current_user.firstname.capitalize
    %strong.lead= current_user.lastname.capitalize

    %a.btn.btn-primary.pull-right{:href =>  new_user_organisation_path(current_user), :role => "button" } Create Organisation
  .container-fluid 
    %h2 Participating Events:
    -@participating.each do |p|
      %p
        =p.name
        at
        =p.location
        on
        =p.date
        created by
        =p.organisation.name
  
  .container-fluid
    %h2 Created Events:
    -@myevents.each do |m|
      =link_to m.name,user_organisation_event_path(current_user.id,m.organisation_id,m.id)
      at
      =m.location
      on
      =m.date
      %br/
  
  .container-fluid
    %h2 All events:
    -@allevents.each do |event|
      %p
        =event.name
        at
        =event.location
        on
        =event.date
        created by
        =event.organisation.name
        -if event.organisation.user.id != current_user.id
          =link_to "Participate", participations_path(event_id: event.id), method: :post 
-else
  %a.btn.btn-primary{:href=>new_user_session_path } Login
