%h1 My Events
.events
  -@events.each do |event|
    = link_to event.name, user_organisation_event_path(current_user,@current_organisation, event)
    = link_to "delete", user_organisation_event_path(current_user, @current_organisation, event), method: :delete, data: { confirm: "R you sure ?" }
    %br/
    %br/
