.container
  %b Event:
  =@event.name
  %br/
  %b Location:
  =@event.location
  %br/
  %b Date:
  =@event.date
  %br/
  %b Organisation:
  =@event.organisation.name
  %br/
  =link_to "Delete Event",user_organisation_event_path,method: :delete,class: "btn btn-danger"
  %br/
.participants
  %b.head Participants
  %ol
    -@participants.each do |p|
      %li
        %strong Name: 
        #{p.firstname} #{p.lastname}
        %strong Email: 
        #{p.email}
    
