-if flash[:notice]
  =flash[:notice]
.events
  =@event.name
  =@event.date
  =@event.location
  =link_to "Delete Event",user_organisation_event_path,method: :delete
  %br/
.participants
  %h2 Participants
  -@participants.each do |p|
    Name:
    =p.firstname + p.lastname
    %br/
    Email:
    =p.email
    %br/
